<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hbm2ddl.auto">update</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/learnersacademy</property>
	<property name="connection.username">root</property>
	<property name="connection.password">naman12345</property>
	<mapping class="com.simplilearn.entity.Student"/>
	<mapping class="com.simplilearn.entity.Teacher"/>
	<mapping class="com.simplilearn.entity.Subject"/>
	<mapping class="com.simplilearn.entity.Class"/>
	<mapping class="com.simplilearn.entity.Classa"/>
	<mapping class="com.simplilearn.entity.Classb"/>
	<mapping class="com.simplilearn.entity.Classc"/>
	<mapping class="com.simplilearn.entity.Classd"/>
	<mapping class="com.simplilearn.entity.Classe"/>
</session-factory>
</hibernate-configuration>